@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;

  @media (width >= --theme(--breakpoint-lg)) {
    padding-inline: 0rem;
  }
}

@theme {
  ----breakpoint-sm: 375px;
  ----breakpoint-md: 768px;
  ----breakpoint-lg: 1200px;
}